a{ color: #fff; text-decoration: none; }
a:hover{ color: #ff5c21; }
.search-input:focus-visible{ outline: none; }
/* header */
.main-header{
    height: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header a{ color: #fff; font-size: 14px; text-decoration: none;}
.main-header a:hover{ color: #ff5c21; }
.main-header a.logo{
    height: 75%;
    margin-top: 6px;
    display: block;
    margin-left: 36px;
}
.main-header a.logo img{
    height: 100%;
}
.nav{
    flex-grow: 1;
    font-size: 14px;
    line-height: 48px;
}
.nav-item{ color: #fff; margin-left: 50px; }
.workbench-btn{ 
    background: #ff5c21;
    border-radius: 4px;
    margin-right: 36px; 
    padding: 5px 20px;
}
/* 搜索栏 */
.search{
    height: 320px;
    background-image: url("../img/banner_bg.png");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #F1F2F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.search h1{
    font-size: 24px;
    color: #25334b;
}
.search-tips{
    font-size: 14px;
    color: #25334b;
    margin-top: 12px;
}
.search-cxt{
    margin-top: 30px;
}
.search-input{
    border: 2px solid #fe7d51;
    border-radius: 4px;
    width: 400px;
    line-height: 36px;
    font-size: 16px;
    color: #818ca3;
    padding: 0 12px;
}
.search-btn{
    display: inline-block;
    width: 80px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    background: #ff5c21;
    border: 2px solid #ff5c21;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.04);
    margin-left: 40px;
}
.search-btn img{
    vertical-align: middle;
    width: 16px;
}
.hot-keyword{
    font-size: 14px;
    color: #818ca3;
    margin-top: 56px;
}
.hot-keyword span{ margin-left: 15px;}
.hot-keyword span:hover{ color: #ff5c21; }
/* 使用帮助 */
.help{ padding-bottom: 50px; }
.help-title{
    margin-top: 75px;
    font-size: 24px;
    font-weight: 700;
    color: #25334b;
    text-align: center;
}
.help-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.help-item{
    width: 270px;
    background: #ffffff;
    border: 1px solid #e5e7e8;
    padding: 14px 25px;
    margin-right: 16px;
    margin-top: 50px;
}
.help-item-title{
    font-size: 16px;
    font-weight: 700;
    color: #25334b;
}
.help-item-title img{
    width: 56px;
    vertical-align: middle;
}
.help-item p{
    font-size: 14px;
    color: #6b7893;
    line-height: 32px;
    text-indent: 18px;
}
.help-item p a{
    text-decoration: none;
    color: #6b7893;
    position: relative;
}
.help-item p a:hover{
    color: #F16904
}
.help-item p a::before{
    content: '.';
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: -10px;
    left: -36px;
}
.help-inner2{ max-width: 1200px; margin: 0 auto}
.help-inner2 .help-item{
    width: 322px;
    padding: 0;
    margin: 50px 30px 0px 30px;
    position: relative;
    overflow: hidden;
}
.help-inner2 .help-item .help-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37,51,75,.4);
    text-align: center;
    line-height: 216px;
    font-size: 32px;
    color: #fff;
    display: none;
}
.help-inner2 .help-item:hover .help-item-hover{
    display: block;
    transition: all .2s ease-in;
    animation-duration: .5s;
}
.help-inner2 .help-item .help-item-hover a{ color: #fff; }
.item-img{
    width: 100%;
}
.help-item .help-item-title{
    line-height: 50px;
    /* text-indent: 26px; */
    font-weight: normal;
}
.help-inner2 .help-item .help-item-title{
    text-indent: 26px
}

/* 悬浮菜单 */
.suspend-menu{
    position: fixed;
    bottom: 30%;
    right: 0px;
}
.suspend-menu .btn{
    width: 60px;
    height: 60px;
    position: relative;
    right: -30px;
    background: #ff5c21;
    border-radius: 50px;
    box-shadow: 0px 0px 8px 0px rgba(255,92,33,0.45); 
}
.suspend-menu .btn img{
    width: 10px;
    width: 10px;
    vertical-align: middle;
    margin-left: 12px;
    margin-top: 20px;
}
.suspend-menu-list{
    display: none;
    transition: all ease 0.2s;
    width: 60px;
    height: auto;
    position: absolute;
    right: 40px;
    top: -60px;
    padding: 7px 0 15px 0;
    background: #f7fafe;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(154,170,191,0.49); 
}
.suspend-menu-list .menu-item{
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #9aaabf;
    margin-top: 8px;
}
.suspend-menu-list .menu-item img{
    width: 30px;
}
.kefu{
    position: fixed;
    bottom: 30%;
    right: 100px;
    background: #fff;
    box-shadow: 0 0 10px 1px #efefef;
    line-height: 30px;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #6b7893;
    display: none;
    animation-duration: .5s;
}
.kefu img{
    width: 150px;
}
